.entry-content>* {
    margin-left: auto;
    margin-right: auto;
}

body {
    color: #686868;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-weight: 400;
    line-height: 1.618;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
.page-titlebar {
    margin: 10vh 100vw;
    width: 90%;
    padding: 21px 0 22px;
    border-bottom: 1px solid #eaecee;
    word-break: break-word;
    background: #f9f9f9;
}
p {
  width: 90%;
  margin: 10vh 100vw
  font-size: 12;
}
