.entry-content>* {
    margin-left: auto;
    margin-right: auto;
}
p {
    margin: 0 0 1.41575em;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
*, :after, :before {
    box-sizing: inherit;
}

html {
    background-color: green;
    min-height: 100%;
    height: 100%;
    overflow-y: scroll;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
div {
    min-height: 50vh;
    width: 50vw;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

div {
    display: block;
}
body {
    color: rgb(0,0,0);
    font-family: "Trebuchet MS",Helvetica,sans-serif;
    margin: 0;
}
