html {
      background-color: white;
      min-height: 100%;
      height: 100%;
      overflow-y: scroll;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;}
  }

body.homepage {
        color:rgb(0,0,0);
        font-family:"Trebuchet MS",Helvetica,sans-serif;
        margin:0;
    }
h1.home {
  text-align:center;
  font-size: 3em;
  margin-top: 65px;
}
h2.home2 {
  text-align: center;
  font-size: 1.5em;
}
img.main {
        display: flex;
        padding: 10px;
        margin: 0 auto;
        border-radius: 60px;
}
.homep {
        width: 90%;
        font-size: 1.5em;
        text-align: center;
        margin-left:5%;
        margin-right: 5%;
}
.author {
  line-height:normal;
  font-size: 1em;
  width: 90%;
  text-align: center;
  margin-left:5%;
  margin-right: 5%;
}
a.nav-link {
        color: rgb(0,0,0);
}
ol.index {
        list-style: none;
        margin-bottom: 5%;
        font-size: 2em;
        display: flex;
        justify-content: space-evenly;
}
div.contrast {
  background-color: #dc3545;
  color: rgb(255,255,255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
ul.attributes {
  list-style: none;
  display: flex;
  text-align: right;
}
ul.nav{
  align-items: right;
}
.navbar{
  background-color: #ffc107;
}
li.nav-link {
  margin: 0 20px;
  transition: 0.6s ease;
}
li.norm{
  display: block;
  text-align: center;
}
li.lower{
  display: block;
  text-align: center;
}
li.lowest{
  display: block;
  text-align: center;
}
li:hover {
  font-size: 1.2em;
  transition: 0.6s ease;
}

.sticky {
    top: 0;
    width: 100%;
}

@media {min-width: 768px}

footer{
  display: inline;
  text-align: center;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 5%;
}
footer a{
  display: block
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 55px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin-top: 3%;
  margin-bottom: 1%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-linkedin{
  background: #007bb5;
  color: white;
}
.fa-instagram{
  background: #C13584;
  color: white;
}

///////joinpage css////////


body.joinpage
{
  margin: 0;
  padding: 0;
  background: #efefef;
  font-size: 16px;
  color: #777;
  font-family: sans-serif;
  font-weight: 300;
}

#login-box
{
    /* position: relative; */
    display: flex;
    margin: 5% auto;
    height: 400px;
    width: 600px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.6);
}

.left-box
{
    flex-direction: row;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 500px;
}

h1.join
{
  margin: 0 0 30px 0;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
}

input[type="text"]
input[type="password"]
{
  display:block;
  box-sizing: border-box;
  margin-bottom: 100px;
  padding:5px;
  width: 250px;
  height: 35px;
  border: none;
  outline: none;
  border-bottom: 2px solid #aaa;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 20px;
  transition: 0.3s ease;
}

input[type="submit"]
{
  margin-bottom: 30px;
  width: 130px;
  height: 35px;
  background: #f44336;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-family: sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.3s ease;
  cursor: pointer;
}

input[type="submit"]: hover;
input[type="submit"]: focus;
{
  background-color: #ff5722;
  transition: 0.3s ease;
}

.right-box
{

  flex-direction: row;
  top: 0;
  right:0;
  box-sizing: border-box;
  padding: 40px;
  width: 300px;
  height: 500px;
}

.or
{
  margin-top: 155px;
  margin-right: 5px;
  flex-direction: row;
  top: 50px;
  left: 60px;
  width: 100px;
  height: 50px;
  background: #efefef;
  border-radius: 50%;
  box-shadow: 0  2px 4px rgba(0, 0, 0, 0.6);
  line-height: 50px;
  text-align: center;
}

.right-box .signinwith
{
  display: block;
  margin-bottom: 40px;
  font-size: 28px;
  color: black;
  text-align: center;
}

button.social
{
  margin-bottom: 20px;
  width: 200px;
  height: 36px;
  border: none;
  border-radius: 1px;
  color: #fff;
  font-family: sans-serif;
  font-weight: 500;
  transition: 0.3s ease;
  cursor: pointer;
}

.facebook
{
  background: #32508e;
}

.twitter
{
  background: #55acee;
}

.google
{
  background: #dd4b39;
}

.inputSignup{
  margin:8px;
  text-align: center;

}
.inputSignupp {
  margin:8px;
  display: ;
}

///////lessons css////////

body.lessons {
    color: #686868;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-weight: 400;
    line-height: 1.618;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    margin: 0
}

.titlebar-title {
  margin: 0;
  line-height:2;
  margin-left:63.25px;
}
p.lessonsp {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 12;
}
tbody {
  width: 90%;
  margin: 10vh 100vw;
  font-size: 12;
}
  ul.lessonsu {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    list-style: none;
    display: flex;
}

li.nav-link {
    margin: 0 20px;
    transition: 0.6s ease;
}

///////games css////////

body.game {
    color: #686868;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-weight: 400;
    line-height: 1.618;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    margin: 0
}
tbody {
  width: 90%;
  margin: 10vh 100vw
  font-size: 12;
}
p.gamep1{
  width: 90%;
  font-size: 2em;
  margin-left:5%;
  margin-right: 5%;
  text-align: center;
  margin-top: 5%;
}
p.gamep {
        width: 90%;
        font-size: 2em;
        margin-left:5%;
        margin-right: 5%;
        text-align: center;
}

.flipCard {
  -webkit-perspective: 800;
  -ms-perspective: 800;
  -moz-perspective: 800;
  -o-perspective: 800;
   width: 400px;
   height: 200px;
   position: relative;
   margin: 50px auto;
}
.flipCard .card.flipped {
  transform:rotatey(-180deg);
  -ms-transform:rotatey(-180deg); /* IE 9 */
  -moz-transform:rotatey(-180deg); /* Firefox */
  -webkit-transform:rotatey(-180deg); /* Safari and Chrome */
  -o-transform:rotatey(-180deg); /* Opera */
}
.flipCard .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
  -moz-transform-style: preserve-3d;
  -moz-transition: 0.5s;
  -ms-transform-style: preserve-3d;
  -ms-transition: 0.5s;
  -o-transform-style: preserve-3d;
  -o-transition: 0.5s;
  transform-style: preserve-3d;
  transition: 0.5s;
}
.flipCard .card .side {
  width: 100%;
  height: 100%;
  padding: 10px;
  cursor: pointer;
  position: absolute;
  box-sizing: border-box;
  z-index: 2;
  backface-visibility: hidden;  /* W3C */
  -webkit-backface-visibility: hidden; /* Safari & Chrome */
  -moz-backface-visibility: hidden; /* Firefox */
  -ms-backface-visibility: hidden; /* Internet Explorer */
  -o-backface-visibility: hidden; /* Opera */
  box-shadow: 0 0 10px rgba(0,0,0,0.6);
  overflow: auto;
}
.flipCard .card .back {
  background: white;
  color: black;
  transform:rotatey(-180deg);
  -ms-transform:rotatey(-180deg); /* IE 9 */
  -moz-transform:rotatey(-180deg); /* Firefox */
  -webkit-transform:rotatey(-180deg); /* Safari and Chrome */
  -o-transform:rotatey(-180deg); /* Opera */
}

.flipCard .card .front {
  font-family: Georgia;
  font-size: 3em;
  text-align: center;
  line-height: 160px;
  background-color: #f78484;
  border: 3px solid white;
  color: white;

}
.flipCard .card .back {
  background-color: #ffc4c4;
  border: 3px solid white;
  text-align: center;
  color: black;
  padding-top: 50px;
  font-family: Georgia;
  font-size: 2em;
}

.FlipCard {
  -webkit-perspective: 800;
  -ms-perspective: 800;
  -moz-perspective: 800;
  -o-perspective: 800;
   width: 400px;
   height: 200px;
   position: relative;
   margin: 50px auto;
}
.FlipCard .card.flipped {
  transform:rotatey(-180deg);
  -ms-transform:rotatey(-180deg); /* IE 9 */
  -moz-transform:rotatey(-180deg); /* Firefox */
  -webkit-transform:rotatey(-180deg); /* Safari and Chrome */
  -o-transform:rotatey(-180deg); /* Opera */
}
.FlipCard .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
  -moz-transform-style: preserve-3d;
  -moz-transition: 0.5s;
  -ms-transform-style: preserve-3d;
  -ms-transition: 0.5s;
  -o-transform-style: preserve-3d;
  -o-transition: 0.5s;
  transform-style: preserve-3d;
  transition: 0.5s;
}
.FlipCard .card .side {
  width: 100%;
  height: 100%;
  padding: 10px;
  cursor: pointer;
  position: absolute;
  box-sizing: border-box;
  z-index: 2;
  backface-visibility: hidden;  /* W3C */
  -webkit-backface-visibility: hidden; /* Safari & Chrome */
  -moz-backface-visibility: hidden; /* Firefox */
  -ms-backface-visibility: hidden; /* Internet Explorer */
  -o-backface-visibility: hidden; /* Opera */
  box-shadow: 0 0 10px rgba(0,0,0,0.6);
  overflow: auto;
}
.FlipCard .card .back {
  background: white;
  color: black;
  transform:rotatey(-180deg);
  -ms-transform:rotatey(-180deg); /* IE 9 */
  -moz-transform:rotatey(-180deg); /* Firefox */
  -webkit-transform:rotatey(-180deg); /* Safari and Chrome */
  -o-transform:rotatey(-180deg); /* Opera */
}

.FlipCard .card .front {
  font-family: Georgia;
  font-size: 3em;
  text-align: center;
  line-height: 160px;
  background-color: #f78484;
  border: 3px solid white;
  color: white;

}
.FlipCard .card .back {
  background-color: #ffc4c4;
  border: 3px solid white;
  text-align: center;
  color: black;
  padding-top: 50px;
  font-family: Georgia;
  font-size: 2em;
}

.flipcard {
  -webkit-perspective: 800;
  -ms-perspective: 800;
  -moz-perspective: 800;
  -o-perspective: 800;
   width: 400px;
   height: 200px;
   position: relative;
   margin: 50px auto;
}
.flipcard .card.flipped {
  transform:rotatey(-180deg);
  -ms-transform:rotatey(-180deg); /* IE 9 */
  -moz-transform:rotatey(-180deg); /* Firefox */
  -webkit-transform:rotatey(-180deg); /* Safari and Chrome */
  -o-transform:rotatey(-180deg); /* Opera */
}
.flipcard .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
  -moz-transform-style: preserve-3d;
  -moz-transition: 0.5s;
  -ms-transform-style: preserve-3d;
  -ms-transition: 0.5s;
  -o-transform-style: preserve-3d;
  -o-transition: 0.5s;
  transform-style: preserve-3d;
  transition: 0.5s;
}
.flipcard .card .side {
  width: 100%;
  height: 100%;
  padding: 10px;
  cursor: pointer;
  position: absolute;
  box-sizing: border-box;
  z-index: 2;
  backface-visibility: hidden;  /* W3C */
  -webkit-backface-visibility: hidden; /* Safari & Chrome */
  -moz-backface-visibility: hidden; /* Firefox */
  -ms-backface-visibility: hidden; /* Internet Explorer */
  -o-backface-visibility: hidden; /* Opera */
  box-shadow: 0 0 10px rgba(0,0,0,0.6);
  overflow: auto;
}
.flipcard .card .back {
  background: white;
  color: black;
  transform:rotatey(-180deg);
  -ms-transform:rotatey(-180deg); /* IE 9 */
  -moz-transform:rotatey(-180deg); /* Firefox */
  -webkit-transform:rotatey(-180deg); /* Safari and Chrome */
  -o-transform:rotatey(-180deg); /* Opera */
}

.flipcard .card .front {
  font-family: Georgia;
  font-size: 3em;
  text-align: center;
  line-height: 160px;
  background-color: #f78484;
  border: 3px solid white;
  color: white;

}
.flipcard .card .back {
  background-color: #ffc4c4;
  border: 3px solid white;
  text-align: center;
  color: black;
  padding-top: 50px;
  font-family: Georgia;
  font-size: 2em;
}
